.container-fluid{
    padding-top: 5rem;
   
}
.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;
    padding-top: 1rem;
}

// .img-text{
//     text-align: center;
//     display: inline-block;
//     font-family:'Times New Roman', Times, serif;
// }
.grid-img{
    width: 100%;
    object-fit: cover;
    height: 150px; 
    border-radius: 10px;
}


.fade {
        opacity: 0 !important;
        transition: opacity 0.15s linear !important;
      }
      
.fade:not(show) {
        opacity: 1 !important;
}

#exampleModal{
    
    backdrop-filter: brightness(0.5) !important;
}

.mcont{
    margin-top: 5rem;
}
.cont-b{
    // font-weight:bolder;
    font-size: 16px;
}

.img-text{
    text-align: center;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;

}

// cards

.demo-card{
    background: center;
    background: linear-gradient(132deg, rgb(210, 209, 223) 0%, rgb(193 193 208) 0%, rgb(219 249 255) 100%);
    border-radius: 10px;
    box-shadow: 10px 10px 15px -15px rgba(0,0,0,0.62);  
    // height:350px;
    // width:300px;  
  }
 
  .content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    pointer-events: none;
    transition: all 0.4s;
   
  }
  .card-text{
    text-align: center;
  }
  .card-hghlght {
    pointer-events: auto;
    transform: scale(1);
    transition: all 0.4s;
  }
  
  .card-hghlght:hover {
    opacity: 1;
    transform: scale(1.02);
  }
  
  .content:hover .card-hghlght:not(:hover) {
    opacity: 0.5;
    transform: scale(0.9);
  }