.container-fluid{
    padding-top: 5rem;
   
}
.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;
    padding-top: 1rem;
}

// .img-text{
//     text-align: center;
//     display: inline-block;
//     font-family:'Times New Roman', Times, serif;
// }
.grid-img{
    width: 100%;
    object-fit: cover;
    height: 150px; 
}


.fade {
        opacity: 0 !important;
        transition: opacity 0.15s linear !important;
      }
      
.fade:not(show) {
        opacity: 1 !important;
}

#exampleModal{
    
    backdrop-filter: brightness(0.5) !important;
}

.mcont{
    margin-top: 5rem;
}
.cont-b{
    // font-weight:bolder;
    font-size: 16px;
}

.img-text{
    text-align: center;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;

}

