

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
<h2>Plan and Explore the world</h2>
<p>This website is all about plan the trip with friends and family.
    spend time with friends and family <br> and enjoy with your loved one.
    Take a break and enjoy your time. 
    plan the trip priror with our travel planner.
</p>
<div>
    <img src="../../assets/images/landing.jpg" alt="nature" class="img-exp" >
</div>
</div>
<div class="col-md-4 ">
    <div class="row justify-content-end ">
    <img src="../../assets/images/contact.jpg" alt="Contact Us" class="img-fluid" >
    <address class="contactImg">  Pavithra Nagarajan,<br>
          Georgia,<br>
          USA.<br>
          <img src="../../assets/images/telephone.svg" alt="phone" 
          width="30" height="15">  +1 5678 000 0000
    </address></div>
</div>
</div>
</div>