.contactImg{
    padding-top: 20px;
}
.container-fluid{
    padding-top: 5rem;
}
.img-exp {
    // display: block;
    width: 100%;
    height: 380px;
    object-fit: cover;
    object-position: bottom;
}