

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
<h2>Welcome back! </h2>
<p>    
    
    We're passionate about helping you turn your travel dreams into reality. Whether you're planning a quick getaway or a grand adventure, we're here 
    to provide you with all the tools, resources, and inspiration you need to plan the perfect trip.
</p>
<div>
    <img src="../../assets/images/landing.jpg" alt="nature" class="img-exp" >
</div>
</div>
<div class="col-md-4 ">
    <div class="row justify-content-end ">
    <img src="../../assets/images/contact.jpg" alt="Contact Us" class="img-fluid" >
    <br>
    Have a question, feedback, or need assistance? We're here to help! You can reach us through the following channels:
<br>
<br>
Email: contacttravelplanPN.com<br>
Phone: +1 (123) 456-7890<br>
Address: 123 Main Street, Cityville, USA<br>

<br>
Feel free to drop us a message or give us a call anytime.
    </div>
</div>
</div>
</div>