<div class="bg-shade">
  
  <div class="container-fluid">
  <header>
    <!-- <h2>{{planTitle}}</h2> -->
  </header>
<div>
    <div class="d-flex">
      <h2 class="left">{{planTitle}}</h2>
      <!-- Add btn -->
      <div class="cp p-2" data-bs-toggle="modal" data-bs-target="#myModal" (click)="openAddModal()"> <img src="../../assets/images/add.svg" alt="Add" class="img-thumbnail"></div>
    
      <!-- view btn -->
       <div class="cp p-2" data-bs-toggle="modal"  *ngIf="enableViewBtn" 
       data-bs-target="#myModal"  (click)="openViewModal()"  >
        <img src="../../assets/images/view.svg" alt="View" class="img-thumbnail"></div>
        <div class="cp p-2" data-bs-toggle="modal"  *ngIf="!enableViewBtn"  data-bs-target="#myModal" >
         <img src="../../assets/images/view.svg" alt="View"
         [ngStyle]="{'background-color': 'silver'}" class="img-thumbnail"></div>

     <!-- Delete btn -->
     <div class="cp p-2" data-bs-toggle="modal"  *ngIf="enableDeleteBtn"
     data-bs-target="#deleteModal" (click)="openDeleteModal()"   >
      <img src="../../assets/images/delete.svg" alt="Delte" class="img-thumbnail"></div>
      <div class="cp p-2" data-bs-toggle="modal"  *ngIf="!enableDeleteBtn" data-bs-target="#deleteModal" >
       <img src="../../assets/images/delete.svg" alt="Delte"
       [ngStyle]="{'background-color': 'silver'}" class="img-thumbnail"></div>


        <!-- <div class="cp p-2" data-bs-toggle="modal" data-bs-target="#myModal" (click)="deletePlan()"> <img src="../../assets/images/delete.svg" alt="Delte" class="img-thumbnail" ></div> -->
      </div>
</div>

        <ngx-datatable #myTable
        class="material expandable"
        style="top: 52px"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        [footerHeight]="0"
        [rowHeight]="50"
        [scrollbarV]="false"
        [scrollbarH]="true"
        [rows]="rows"
        [columns]="columns"
        [rowIdentity]="rowIdentity"
        [loadingIndicator]="loadingIndicator"
        [selectionType]="SelectionType.checkbox"
        [selected]="selected"
        [selectAllRowsOnPage]="false"
        (select)='onSelect($event)'
      ></ngx-datatable> 

</div>

<!-- The Modal -->
<div  class="modal" id="myModal">

  <div class="modal-dialog modal-fullscreen-xxl-down">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{ModalHeading}}</h4>
        <button type="button" class="btn-close"  (click)="closeModal()" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
                <!-- <ng-template> -->
                  <div *ngIf="enableAdd" >   <app-add-plan-details [addFlagValue]="addFlagValue"
                     (newItemEvent) ="GetChildData($event)"></app-add-plan-details></div>
                     <div *ngIf="!enableAdd" >
                      <app-view-plan-detail></app-view-plan-detail>
                     </div>
                <!-- </ng-template>      -->
       </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-danger"
        (click)="closeModal()" data-bs-dismiss="modal">Close</button> -->
        <div *ngIf="enableAdd" ><button  type="button" class="btn btn-primary"
        (click)="AddPlanModal()" data-bs-dismiss="modal">Add</button></div>
        <div *ngIf="!enableAdd" ><button  type="button" class="btn btn-danger"
          (click)="closeModal()" data-bs-dismiss="modal">Close</button></div>
      </div>

    </div>
  </div>
</div>
</div>

<!-- Alert Message -->

<div class="alert alert-success" role="alert">
{{responseMsg}}</div>

<div class="alert alert-danger" role="alert">
  {{responseErrMsg}}</div>

<!-- delete modal -->
<div class="modal fade" id="deleteModal">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
        (click)="closeDeleteModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Do you want to delete selected item?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeDeleteModal()">No</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deletePlan()">Yes</button>
      </div>
    </div>
  </div>
</div>